<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Rumah Sehat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        body {
            background-image: url('https://www.linkpicture.com/q/Mesh-132.png');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Rubik', sans-serif;
        }
    </style>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(${'home'})"></nav>
<div class="container">
    <div class="row text-center mt-3 py-5">
        <div class="col mb-3">
            <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
            <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
            <!--        END OF FLASH MESSAGE-->
            <h2 class="text-center text-white" th:text="'Hello '+${#httpServletRequest.remoteUser}+'!'">Login
                as</h2>
            <h3 class="text-center text-white">Selamat datang di halaman Rumah Sehat 057!</h3>
        </div>
    </div>
    <div class="row justify-content-center text-center mt-3 pt-3">
        <div class="col-md-6 mb-3">
            <img src="https://www.linkpicture.com/q/medicine-jar-doctor.png" class="img-fluid"
                 style="max-width: 260px;">
        </div>
        <div class="col-md-6 mb-3 ">
            <br><br><br>
            <h3 class="font-weight-bold">Rumah Sehat 057</h3>
            <br>
            <p>Rumah Sehat 057 adalah platform kesehatan yang dibuat oleh</p>
            <p>kelompok 057 Mata Kuliah APAP</p>
            <a href="#" class="btn"><img src="https://ristek.link/Apple-Store-Button" height="40px"></a>
            <a href="#" class="btn"><img src="https://www.linkpicture.com/q/get-it-on-google-play-store-button.png"
                                         height="40px"></a>
        </div>
    </div>
</div>
<br><br>
<div class="container d-flex justify-content-center">
    <div class="col-md-6 mb-3">
        <div class="card-header rounded" style="background-color: #BCCEF8;">
            <br>
            <h2 class="text-center" style="color:#3F3B6C;"> List of Features: </h2>
            <br>
            <div class="d-flex justify-content-center">
                <div class="col">
                    <div class="row justify-content-center"
                         sec:authorize="hasAuthority('Admin')">
                        <a th:href="@{/user/add-dokter}" class="mx-2 btn btn-block text-white"
                           style="background-color: #3F3B6C;">Menambah
                            Dokter</a>
                        <br>
                    </div>
                    <div class="row justify-content-center"
                         sec:authorize="hasAuthority('Admin')">
                        <a th:href="@{/user/add-apoteker}" class="mx-2 btn btn-block text-white"
                           style="background-color: #3F3B6C;">Menambah
                            Apoteker</a>
                        <br>
                    </div>
                    <div class="row justify-content-center"
                         sec:authorize="hasAuthority('Admin')">
                        <a th:href="@{/user/view-pasien}" class="mx-2 btn btn-block text-white"
                           style="background-color: #3F3B6C;">Lihat Semua Pasien</a>
                        <br>
                    </div>
                    <div class="row justify-content-center"
                         sec:authorize="hasAuthority('Admin')">
                        <a th:href="@{/user/view-dokter}" class="mx-2 btn btn-block text-white"
                           style="background-color: #3F3B6C;">Lihat
                            Semua Dokter</a>
                        <br>
                    </div>
                    <div class="row justify-content-center"
                         sec:authorize="hasAuthority('Admin')">
                        <a th:href="@{/user/view-apoteker}" class="mx-2 btn btn-block text-white"
                           style="background-color: #3F3B6C;">Lihat
                            Semua Apoteker</a>
                        <br>
                    </div>
                    <div class="row justify-content-center"
                         sec:authorize="hasAnyAuthority('Admin')">
                        <a th:href="@{/appointment/view-all}" class="mx-2 btn btn-block text-white"
                           style="background-color: #3F3B6C;">Lihat
                            Jadwal
                            Appointment</a>
                        <br>
                    </div>
                    <div class="row justify-content-center"
                         sec:authorize="hasAnyAuthority('Dokter')">
                        <a th:href="@{/appointment/dokter-view-all}" class="mx-2 btn btn-block text-white"
                           style="background-color: #3F3B6C;">Lihat
                            Jadwal
                            Appointment</a>
                        <br>
                    </div>
                    <div class="row justify-content-center"
                         sec:authorize="hasAnyAuthority('Admin', 'Apoteker')">
                        <a th:href="@{/resep/viewall}" class="mx-2 btn btn-block text-white"
                           style="background-color: #3F3B6C;">Lihat Resep</a>
                        <br>
                    </div>
                    <div class="row justify-content-center"
                         sec:authorize="hasAuthority('Dokter')">
                        <a th:href="@{/resep/add}" class="mx-2 btn btn-block text-white"
                           style="background-color: #3F3B6C;">Membuat
                            Resep</a>
                        <br>
                    </div>
                    <div class="row justify-content-center"
                         sec:authorize="hasAnyAuthority('Admin', 'Apoteker')">
                        <a th:href="@{/obat/view-obat}" class="mx-2 btn btn-block text-white"
                           style="background-color: #3F3B6C;">Lihat
                            Semua
                            Obat</a>
                        <br>
                    </div>
                    <div class="row justify-content-center"
                         sec:authorize="hasAuthority('Admin')">
                        <a th:href="@{/chart/}" class="mx-2 btn btn-block text-white"
                           style="background-color: #3F3B6C;">Lihat Semua Laporan</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center mt-3 py-5">
        <div class="col mb-3">
            <h2>Our Services</h2>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-md-6 mb-3">
            <br>
            <img src="https://www.linkpicture.com/q/Online-doctor-consultation.png" class="img-fluid"
                 style="max-width: 200px;">
            <br> <br>
            <p>Menyediakan pelayanan kesehatan dengan masyarakat luas</p>
        </div>
        <div class="col-md-6 mb-3">
            <img src="https://www.linkpicture.com/q/Doctor-s-appointment_1.png" class="img-fluid"
                 style="max-width: 200px;">
            <br><br>
            <p>Menjadwalkan konsultasi dengan dokter kapanpun dan dimanapun</p>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-md-6 mb-3">
            <br>
            <img src="https://www.linkpicture.com/q/Calendar-of-taking-pills_1.png" class="img-fluid"
                 style="max-width: 210px;">
            <br> <br> <br>
            <p>Melihat resep obat di manapun, kapanpun, dengan mudah</p>
        </div>
        <div class="col-md-6 mb-3">
            <img src="https://www.linkpicture.com/q/Monitor-with-cardiogram-tubes.png" class="img-fluid"
                 style="max-width: 200px;">
            <p>Keamanan datamu terjamin bersama kami</p>
        </div>
    </div>
</div>
</body>
<footer th:replace="fragments/fragment :: footer"></footer>
</html>