<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>Rumah Sehat</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <style>
    body {
      background-image: url('https://www.linkpicture.com/q/Mesh-132.png');
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: 'Rubik', sans-serif;
    }
  </style>

</head>
<body>
<nav th:replace="fragments/fragment :: navbar(${'chart'})"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Pilih Dokter</h2>
        <h4>Kamu hanya bisa menampilkan maksimal 5 dokter dalam satu waktu!</h4>
        <br>
        <form th:action="@{/chart/apptLine-tahun}" th:object="${chart}" method="POST">
          <input type="hidden" th:field="*{method}">

          <input type="number" min="1900" max="2022" step="1" th:field="*{year}"/>
          <br>
          <div class="form-row">
            <table class="table table-borderless">
              <thead>
              <th style="font-family: Arial">Daftar Dokter</th>
              </thead>
              <tbody>
              <tr th:each="dokter, iterationStatus : *{dokterModelList}">
                <td>
                  <select name="usernameDokter" th:field="*{dokterModelList[__${iterationStatus.index}__].username}" class="form-control">
                    <option th:each="dokterEx : ${listDokter}" th:value="${dokterEx.username}" th:text="${dokterEx.nama}"></option>
                  </select>
                </td>
                <td><button name="deleteRow" th:value="${iterationStatus.index}" type="submit" class="btn btn-danger">HAPUS</button></td>
              </tr>
              <tr>
                <td><button name="addRow"  type="submit" class="form-control btn btn-success">+ Tambah Dokter</button></td>
              </tr>
              </tbody>
            </table>
          </div>

          <br>
          <a class="btn btn-danger" href="/">CANCEL</a>
          <button th:if="${#lists.size(chart.dokterModelList) <= 5}" type="submit" class="btn text-white" name="save" style="background-color: #3F3B6C;">SUBMIT</button>
          <button th:unless="${#lists.size(chart.dokterModelList) <= 5}" type="submit" class="btn text-white" name="save" style="background-color: #3F3B6C;" disabled>SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
<footer th:replace="fragments/fragment :: footer"></footer>
</html>



