<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>View Course</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <head th:fragment="js">
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetYMGWSFIBw8HfCJo="
                crossorigin="anonymous">
        </script>
        <script src="https://getbootsrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js.bootstrap.min.js}"></script>
    </head>
    <style>
        body {
            background-image: url('https://www.linkpicture.com/q/Mesh-132.png');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Rubik', sans-serif;
        }
    </style>
</head>
<body>
<nav th:fragment="navbar (var)" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" style="color:#3F3B6C;" href="#">RumahSehat</a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#narbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <!--      NAVBAR ITEM-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${var=='home'} ? active">
                    <div th:if="${var=='home'}">
                        <a class="nav-link font-weight-normal" style="color:#3F3B6C;" th:href="@{/}">Beranda</a>
                    </div>
                    <div th:unless="${var=='home'}">
                        <a class="nav-link font-weight-normal" style="color:#F8F3F3;" th:href="@{/}">Beranda</a>
                    </div>
                </li>
                <li class="nav-item" th:classappend="${var=='pasien'} ? active"
                    sec:authorize="hasAuthority('Admin')">
                    <div th:if="${var=='pasien'}">
                        <a class="nav-link font-weight-normal" style="color:#3F3B6C;"
                           th:href="@{/user/view-pasien}">Pasien</a>
                    </div>
                    <div th:unless="${var=='pasien'}">
                        <a class="nav-link font-weight-normal" style="color:#F8F3F3;"
                           th:href="@{/user/view-pasien}">Pasien</a>
                    </div>
                </li>
                <li class="nav-item" th:classappend="${var=='dokter'} ? active"
                    sec:authorize="hasAuthority('Admin')">
                    <div th:if="${var=='dokter'}">
                        <a class="nav-link font-weight-normal" style="color:#3F3B6C;"
                           th:href="@{/user/view-dokter}">Dokter</a>
                    </div>
                    <div th:unless="${var=='dokter'}">
                        <a class="nav-link font-weight-normal" style="color:#F8F3F3;"
                           th:href="@{/user/view-dokter}">Dokter</a>
                    </div>
                </li>
                <li class="nav-item" th:classappend="${var=='apoteker'} ? active"
                    sec:authorize="hasAuthority('Admin')">
                    <div th:if="${var=='apoteker'}">
                        <a class="nav-link font-weight-normal" style="color:#3F3B6C;"
                           th:href="@{/user/view-apoteker}">Apoteker</a>
                    </div>
                    <div th:unless="${var=='apoteker'}">
                        <a class="nav-link font-weight-normal" style="color:#F8F3F3;"
                           th:href="@{/user/view-apoteker}">Apoteker</a>
                    </div>
                </li>
                <li class="nav-item" th:classappend="${var=='obat'} ? active"
                    sec:authorize="hasAnyAuthority('Admin','Apoteker')">
                    <div th:if="${var=='obat'}">
                        <a class="nav-link font-weight-normal" style="color:#3F3B6C;"
                           th:href="@{/obat/view-obat}">Obat</a>
                    </div>
                    <div th:unless="${var=='obat'}">
                        <a class="nav-link font-weight-normal" style="color:#F8F3F3;"
                           th:href="@{/obat/view-obat}">Obat</a>
                    </div>
                </li>
                <li class="nav-item" th:classappend="${var=='resep'} ? active"
                    sec:authorize="hasAnyAuthority('Admin','Apoteker')">
                    <div th:if="${var=='resep'}">
                        <a class="nav-link font-weight-normal" style="color:#3F3B6C;"
                           th:href="@{/resep/viewall}">Resep</a>
                    </div>
                    <div th:unless="${var=='resep'}">
                        <a class="nav-link font-weight-normal" style="color:#F8F3F3;"
                           th:href="@{/resep/viewall}">Resep</a>
                    </div>
                </li>
                <li class="nav-item" th:classappend="${var=='appointmentAdmin'} ? active"
                    sec:authorize="hasAuthority('Admin')">
                    <div th:if="${var=='appointment'}">
                        <a class="nav-link font-weight-normal" style="color:#3F3B6C;" th:href="@{/appointment/view-all}">Appointment</a>
                    </div>
                    <div th:unless="${var=='appointment'}">
                        <a class="nav-link font-weight-normal" style="color:#F8F3F3;" th:href="@{/appointment/view-all}">Appointment</a>
                    </div>
                </li>
                <li class="nav-item" th:classappend="${var=='appointmentDokter'} ? active"
                    sec:authorize="hasAuthority('Dokter')">
                    <div th:if="${var=='appointment'}">
                        <a class="nav-link font-weight-normal" style="color:#3F3B6C;" th:href="@{/appointment/dokter-view-all}">Appointment</a>
                    </div>
                    <div th:unless="${var=='appointment'}">
                        <a class="nav-link font-weight-normal" style="color:#F8F3F3;" th:href="@{/appointment/dokter-view-all}">Appointment</a>
                    </div>
                </li>
                <li class="nav-item" th:classappend="${var=='chart'} ? active" sec:authorize="hasAuthority('Admin')">
                    <div th:if="${var=='chart'}">
                        <a class="nav-link font-weight-normal" style="color:#3F3B6C;" th:href="@{/chart/}">Chart</a>
                    </div>
                    <div th:unless="${var=='chart'}">
                        <a class="nav-link font-weight-normal" style="color:#F8F3F3;" th:href="@{/chart/}">Chart</a>
                    </div>
                </li>
            </ul>
            <!--    END OF NAVBAR ITEM-->

            <!--    LOG OUT-->
            <ul class="navbar-nav pull-right">
                <a class="nav-item nav-link btn text-white" style="background-color:#3F3B6C;" th:href="@{/logout-sso}">Logout</a>
            </ul>
            <!--    END OF LOG OUT -->
        </div>
    </div>
</nav>
<footer th:fragment="footer" class="text-muted">
    <br>  <br>  <br>
    <section style="background-color: #ffffff;">
        <br>
        <div class="container text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Rumah Sehat 057
                    </h6>
                    <p>
                        Rumah Sehat 057 hadir untuk memenuhi kebutuhan dari mahasiswa Fakultas Ilmu Komputer Universitas
                        Indonesia. Kami ada untuk kesehatan kalian semua!
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Services
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Beranda</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Resep</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Appointment</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Obat</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help Desk</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">FAQ</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Language</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Kukusan, Depok, Indonesia</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        KelompokAPAP057@lulusapap.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 62 057 057 057</p>
                    <p><i class="fas fa-print me-3"></i> + 62 057 057 057</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <div class="border-top text-center" style="background-color: #e3e2e2;">
        <!-- Copyright -->
        <div class="p-3 text-dark">
            <p>© 2022 Rumah Sehat, Inc. All rights reserved.</p>
        </div>
        <!-- Copyright -->
    </div>
</footer>
</body>
</html>