<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Course</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <head th:fragment="js">
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetYMGWSFIBw8HfCJo="
                crossorigin="anonymous">
        </script>
        <script src="https://getbootsrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{/js.bootstrap.min.js}"></script>
    </head>
    <style>
        body {
            background-image: url('https://www.linkpicture.com/q/Mesh-132.png');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<nav th:fragment="navbar (var)" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand font-weight-bold" style="color:#3F3B6C;" href="#">RumahSehat</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#narbarNavAltMarkup"
            aria-controls="navnarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">

        <!--      NAVBAR ITEM-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${var=='home'} ? active">
                <div th:if="${var=='home'}">
                    <a class="nav-link font-weight-normal" style="color:#3F3B6C;" th:href="@{/}">Beranda</a>
                </div>
                <div th:unless="${var=='home'}">
                    <a class="nav-link font-weight-normal" style="color:#F8F3F3;" th:href="@{/}">Beranda</a>
                </div>
            </li>
            <li class="nav-item" th:classappend="${var=='obat'} ? active"
                th:if="${#authorization.expression('hasAnyAuthority(''Admin'',''Apoteker'')')}">
                <div th:if="${var=='obat'}">
                    <a class="nav-link font-weight-normal" style="color:#3F3B6C;" th:href="@{/obat/view-obat}">Obat</a>
                </div>
                <div th:unless="${var=='obat'}">
                    <a class="nav-link font-weight-normal" style="color:#F8F3F3;" th:href="@{/obat/view-obat}">Obat</a>
                </div>
            </li>
            <li class="nav-item" th:classappend="${var=='resep'} ? active"
                th:if="${#authorization.expression('hasAnyAuthority(''Admin'',''Apoteker'')')}">
                <div th:if="${var=='resep'}">
                    <a class="nav-link font-weight-normal" style="color:#3F3B6C;" th:href="@{/resep/viewall}">Resep</a>
                </div>
                <div th:unless="${var=='resep'}">
                    <a class="nav-link font-weight-normal" style="color:#F8F3F3;" th:href="@{/resep/viewall}">Resep</a>
                </div>
            </li>
            <li class="nav-item" th:classappend="${var=='appointment'} ? active"
                th:if="${#authorization.expression('hasAnyAuthority(''Admin'',''Dokter'')')}">
                <div th:if="${var=='appointment'}">
                    <a class="nav-link font-weight-normal" style="color:#3F3B6C;" th:href="@{/}">Appointment</a>
                </div>
                <div th:unless="${var=='appointment'}">
                    <a class="nav-link font-weight-normal" style="color:#F8F3F3;" th:href="@{/}">Appointment</a>
                </div>
            </li>
        </ul>
        <!--    END OF NAVBAR ITEM-->

        <!--    LOG OUT-->
        <ul class="navbar-nav pull-right">
            <a class="nav-item nav-link btn text-white" style="background-color:#3F3B6C;" th:href="@{/logout-sso}">Logout</a>
        </ul>
        <!--    END OF LOG OUT -->
    </div>
</nav>
<footer th:fragment="footer" class="text-center">
    <div class="border-top" style="background-color: #EEF1FF ">
        <div class="container p-3 pb-0">
            <h5 class="text-uppercase">Rumah Sehat</h5>
            <p>Mencegah lebih baik daripada mengobati!</p>
        </div>
    </div>
    <div class="border-top bg-light">
        <!-- Copyright -->
        <div class="p-3">
            <p>© 2022 Rumah Sehat, Inc. All rights reserved.</p>
        </div>
        <!-- Copyright -->
    </div>
</footer>
</body>
</html>