<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Rumah Sehat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        body {
            background-image: url('https://www.linkpicture.com/q/Mesh-132.png');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Rubik', sans-serif;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
</head>

<body>
<nav th:replace="fragments/fragment :: navbar(${'resep'})"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Resep</h2>
                <br>
                <form th:action="@{/resep/add}" th:object="${resep}" method="POST">
                    <input type="hidden" th:field="*{appointment.kode}">

                    <table class="table">
                        <thead>
                        <th>Obat</th>
                        <th>
                            <button class="btn btn-primary" type="submit" name="addRow">Tambah Obat</button>
                        </th>
                        </thead>
                        <tbody>
                        <tr th:each="jumlahModel, iterationStatus : *{listJumlahModel}">
                            <td>
                                <select  class="form-control" id="select-state" name="id" th:field="*{listJumlahModel[__${iterationStatus.index}__].obat.idObat}">
                                    <div th:each="obat, iterationStatus2 : ${listObatExisting}">
                                        <option th:value="${obat.idObat}" th:text="${obat.namaObat}"></option>
                                    </div>
                                </select>
                            </td>
                            <td>
                                <input class="form-control" type="number" th:field="*{listJumlahModel[__${iterationStatus.index}__].kuantitas}" th:required="required"/>
                            </td>
                            <td>
                                <button th:value="${iterationStatus.index}" class="btn btn-danger" type="submit"
                                        name="deleteRow">Hapus</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-primary" type="submit" name="save">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
    });
</script>

</body>
<footer th:replace="fragments/fragment :: footer"></footer>
</html>